.dashboard {
    height: 100vh;
    width: 100vw;
    @include flexCenter(column);
    .poke-info {
        height: 48vh;
        width: 100vw;
        @include flexCenter(column);
    }
    .poke-list {
        height: 48vh;
        width: 100vw;
        @include flexCenter(row);
        overflow: hidden visible;
        display: inline-block;
        .listXs {
            @include flexCenter(row);
            width: 100vw;
            height: 15vh;
            justify-content: center;
            align-content: center;
            margin-bottom: 1.5em;
            img {
                width: 100%;
                align-self: center;
            }
            p {
                font-size: 1.4em;
                align-self: center;
            }
        }
        .poke-spinnerXs {
            position: absolute;
            top: 95%;
        }
    }
}