/* You can add global styles to this file, and also import other style files */

@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@import './styles/error';
@import './styles/dashboard';
html,
body {
    height: 100%;
    background-color: #E1DDD7;
    color: #444A54;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}